# 随机数random模块

随机数random模块使用教程：http://www.runoob.com/python3/python3-random-number.html

In [1]:
# 导入 random(随机数) 模块
import random

In [4]:
'''
使用random 模块的 randint() 函数来生成随机数
语法是：random.randint(a,b)
函数返回数字 N ，
N 为a到b之间的数字（a <= N <= b），包含 a 和 b
下面案例是生成0 ~ 9 之间的随机数，
你每次执行后都返回不同的数字（0 到 9）
'''
a=random.randint(0,9)
print(a)

8

# 案例：抽奖

range() 函数可创建一个整数列表，一般用在 for 循环中。

使用语法：

range(start, stop[, step])

参数说明：

start: 计数从 start 开始。默认是从 0 开始。例如range（5）等价于range（0， 5）

start: 计数从 start 开始，但不包括 stop。例如：range（0， 5） 是[0, 1, 2, 3, 4]没有5

step：步长，默认为1。例如：range（0， 5） 等价于 range(0, 5, 1)

In [10]:
'''
抽奖：生成多个随机数
应用案例：从395个用户中随机抽取10个人作为中奖者
'''
for i in range(10):
    userId=random.randint(0,395)
    #用%s格式化字符串
    print('第 %s 位获奖用户id是 %s' % (i,userId) )

第 0 位获奖用户id是 166
第 1 位获奖用户id是 216
第 2 位获奖用户id是 100
第 3 位获奖用户id是 141
第 4 位获奖用户id是 296
第 5 位获奖用户id是 167
第 6 位获奖用户id是 366
第 7 位获奖用户id是 316
第 8 位获奖用户id是 306
第 9 位获奖用户id是 196

# pandas数据框（DataFrame）的抽样方法

In [4]:
#导入包
import numpy as np #数组包
import pandas as pd #数据分析包

In [5]:
'''
#arange产生一个含有5*4个元素的一维数组
reshape：将数组转换成5行4列的二维数组
'''
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [10]:
#随机选择一个n行的子集
sample1=df.sample(n=3)
sample1

    0   1   2   3
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11