## 案例：药店销售数据分析

第4关：通过一个案例学会数据分析的基本过程

需要安装一个读取excel文件的依赖包：xlrd，安装步骤如下：

1）先在conda中进入当前notebook文件所在的python环境，例如命令：

activate py3

2)在conda进入的python环境下安装该包：

conda install xlrd

如果上述安装失败报错，参考这个社群会员的解决方案：https://zhuanlan.zhihu.com/p/33959929

In [2]:
#导入数据分析包
import pandas as pd

## 1.提出问题

从销售数据中分析出以下业务指标：
1）月均消费次数2）月均消费金额3）客单价4）消费趋势

In [5]:
#读取Ecxcel数据，统一先按照字符串读入，之后转换
fileNameStr='./朝阳医院2018年销售数据.xlsx'
xls = pd.ExcelFile(fileNameStr, dtype='object')
salesDf = xls.parse('Sheet1',dtype='object')

In [6]:
'''
查看数据基本信息
'''
#打印出前5行，以确保数据运行正常
salesDf.head()

             购药时间           社保卡号    商品编码     商品名称 销售数量  应收金额   实收金额
0  2018-01-01 星期五      001616528  236701  强力VC银翘片    6  82.8     69
1  2018-01-02 星期六      001616528  236701  清热解毒口服液    1    28  24.64
2  2018-01-06 星期三     0012602828  236701       感康    2  16.8     15
3  2018-01-11 星期一  0010070343428  236701    三九感冒灵    1    28     28
4  2018-01-15 星期五    00101554328  236701    三九感冒灵    8   224    208

In [7]:
#有多少行，多少列
salesDf.shape

(6578, 7)

In [275]:
#查看每一列的数据类型
salesDf.dtypes

购药时间    object
社保卡号    object
商品编码    object
商品名称    object
销售数量    object
应收金额    object
实收金额    object
dtype: object

## 2.数据清洗

1)选择子集(本案例不需要选择子集)

In [13]:
#注释掉
#subSalesDf=salesDf.loc[0:4,'购药时间':'销售数量']

2）列名重命名

In [19]:
#字典：旧列名和新列名对应关系
colNameDict = {'购药时间':'销售时间'}

'''
inplace=False，数据框本身不会变，而会创建一个改动后新的数据框，
默认的inplace是False
inplace=True，数据框本身会改动
'''
salesDf.rename(columns = colNameDict,inplace=True)

In [20]:
salesDf.head()

             销售时间           社保卡号    商品编码     商品名称 销售数量  应收金额   实收金额
0  2018-01-01 星期五      001616528  236701  强力VC银翘片    6  82.8     69
1  2018-01-02 星期六      001616528  236701  清热解毒口服液    1    28  24.64
2  2018-01-06 星期三     0012602828  236701       感康    2  16.8     15
3  2018-01-11 星期一  0010070343428  236701    三九感冒灵    1    28     28
4  2018-01-15 星期五    00101554328  236701    三九感冒灵    8   224    208

3.缺失数据处理

dropna函数详细使用地址：https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html

In [17]:
print('删除缺失值前大小',salesDf.shape)

删除缺失值前大小 (6578, 7)

In [22]:
#删除列（销售时间，社保卡号）中为空的行
#how='any' 在给定的任何一列中有缺失值就删除
salesDf=salesDf.dropna(subset=['销售时间','社保卡号'],how='any')

In [23]:
print('删除缺失后大小',salesDf.shape)

删除缺失后大小 (6575, 7)

4.数据类型转换

字符串转换为数值（浮点型）

In [26]:
#字符串转换为数值（浮点型）
salesDf['销售数量'] = salesDf['销售数量'].astype('float')
salesDf['应收金额'] = salesDf['应收金额'].astype('float')
salesDf['实收金额'] = salesDf['实收金额'].astype('float')
print('转换后的数据类型：\n',salesDf.dtypes)
'''
运行后，会报警告SettingWithCopyWarning
一般信息有两列，一类是Warning警告信息，一类是Error错误信息。
警告的信息不用管，我们只关注错误类型的信息
'''

转换后的数据类型：
 销售时间     object
社保卡号     object
商品编码     object
商品名称     object
销售数量    float64
应收金额    float64
实收金额    float64
dtype: object

C:\install\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\install\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\install\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

字符串转换为日期数据类型

In [27]:
#测试：字符串分割
testList='2018-06-03 星期五'.split(' ')

In [28]:
testList

['2018-06-03', '星期五']

In [29]:
testList[0]

'2018-06-03'

In [30]:
'''
定义函数：分割销售日期，获取销售日期
输入：timeColSer 销售时间这一列，是个Series数据类型
输出：分割后的时间，返回也是个Series数据类型
'''
def splitSaletime(timeColSer):
    timeList=[]
    for value in timeColSer:
        #例如2018-01-01 星期五，分割后为：2018-01-01
        dateStr=value.split(' ')[0]
        timeList.append(dateStr)
    
    #将列表转行为一维数据Series类型
    timeSer=pd.Series(timeList)
    return timeSer

In [32]:
#获取“销售时间”这一列
timeSer=salesDf.loc[:,'销售时间']
#对字符串进行分割，获取销售日期
dateSer=splitSaletime(timeSer)
'''
注意：
如果运行后报错：AttributeError: 'float' object has no attribute 'split'
是因为Excel中的空的cell读入pandas中是空值（NaN），这个NaN是个浮点类型，一般当作空值处理。
所以要先去除NaN在进行分隔字符串
'''

![alt text](images/problem1.jpg "NaN problem")

那None和NaN有什么区别呢：

None是Python的一种数据类型，NaN是浮点类型
两个都用作空值

In [2]:
#None和NaN的区别
print('None的数据类型',type(None))
from numpy import NaN
print('NaN的数据类型',type(NaN))

None的数据类型 <class 'NoneType'>
NaN的数据类型 <class 'float'>

In [33]:
dateSer[0:3]

0    2018-01-01
1    2018-01-02
2    2018-01-06
dtype: object

In [34]:
#修改销售时间这一列的值
salesDf.loc[:,'销售时间']=dateSer

C:\install\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [36]:
salesDf.head()

         销售时间           社保卡号    商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01      001616528  236701  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02      001616528  236701  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06     0012602828  236701       感康   2.0   16.8   15.00
3  2018-01-11  0010070343428  236701    三九感冒灵   1.0   28.0   28.00
4  2018-01-15    00101554328  236701    三九感冒灵   8.0  224.0  208.00

In [37]:
'''
数据类型转换:字符串转换为日期
'''
#errors='coerce' 如果原始数据不符合日期的格式，转换后的值为空值NaT
#format 是你原始数据中日期的格式
salesDf.loc[:,'销售时间']=pd.to_datetime(salesDf.loc[:,'销售时间'],
                                    format='%Y-%m-%d', 
                                    errors='coerce')

C:\install\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [38]:
salesDf.dtypes

销售时间    datetime64[ns]
社保卡号            object
商品编码            object
商品名称            object
销售数量           float64
应收金额           float64
实收金额           float64
dtype: object

In [39]:
'''
转换日期过程中不符合日期格式的数值会被转换为空值，
这里删除列（销售时间，社保卡号）中为空的行
'''
salesDf=salesDf.dropna(subset=['销售时间','社保卡号'],how='any')

5.数据排序

In [40]:
print('排序前的数据集')
salesDf.head()

排序前的数据集

        销售时间           社保卡号    商品编码     商品名称  销售数量   应收金额    实收金额
0 2018-01-01      001616528  236701  强力VC银翘片   6.0   82.8   69.00
1 2018-01-02      001616528  236701  清热解毒口服液   1.0   28.0   24.64
2 2018-01-06     0012602828  236701       感康   2.0   16.8   15.00
3 2018-01-11  0010070343428  236701    三九感冒灵   1.0   28.0   28.00
4 2018-01-15    00101554328  236701    三九感冒灵   8.0  224.0  208.00

In [42]:
'''
by：按哪几列排序
ascending=True 表示升序排列，
ascending=False表示降序排列
'''
#按销售日期进行升序排列
salesDf=salesDf.sort_values(by='销售时间',
                    ascending=True)

In [43]:
print('排序后的数据集')
salesDf.head(3)

排序后的数据集

           销售时间           社保卡号    商品编码          商品名称  销售数量   应收金额   实收金额
0    2018-01-01      001616528  236701       强力VC银翘片   6.0   82.8   69.0
3436 2018-01-01     0010616728  865099    硝苯地平片(心痛定)   2.0    3.4    3.0
1190 2018-01-01  0010073966328  861409  非洛地平缓释片(波依定)   5.0  162.5  145.0

In [44]:
#重命名行名（index）：排序后的列索引值是之前的行号，需要修改成从0到N按顺序的索引值
salesDf=salesDf.reset_index(drop=True)
salesDf.head()

        销售时间           社保卡号    商品编码          商品名称  销售数量   应收金额   实收金额
0 2018-01-01      001616528  236701       强力VC银翘片   6.0   82.8   69.0
1 2018-01-01     0010616728  865099    硝苯地平片(心痛定)   2.0    3.4    3.0
2 2018-01-01  0010073966328  861409  非洛地平缓释片(波依定)   5.0  162.5  145.0
3 2018-01-01  0010073966328  866634   硝苯地平控释片(欣然)   6.0  111.0   92.5
4 2018-01-01  0010014289328  866851   缬沙坦分散片(易达乐)   1.0   26.0   23.0

6.异常值处理

In [45]:
#描述指标：查看出“销售数量”值不能小于0
salesDf.describe()

              销售数量         应收金额         实收金额
count  6549.000000  6549.000000  6549.000000
mean      2.384486    50.449076    46.284370
std       2.375227    87.696401    81.058426
min     -10.000000  -374.000000  -374.000000
25%       1.000000    14.000000    12.320000
50%       2.000000    28.000000    26.500000
75%       2.000000    59.600000    53.000000
max      50.000000  2950.000000  2650.000000

In [48]:
#删除异常值：通过条件判断筛选出数据
#查询条件
querySer=salesDf.loc[:,'销售数量']>0
#应用查询条件
print('删除异常值前：',salesDf.shape)
salesDf=salesDf.loc[querySer,:]
print('删除异常值后：',salesDf.shape)

删除异常值前： (6533, 7)
删除异常值后： (6506, 7)

## 4.构建模型

业务指标1:月均消费次数=总消费次数 / 月份数

In [50]:
'''
总消费次数：同一天内，同一个人发生的所有消费算作一次消费
#根据列名（销售时间，社区卡号），如果这两个列值同时相同，只保留1条，将重复的数据删除
'''

kpi1_Df=salesDf.drop_duplicates(
    subset=['销售时间', '社保卡号']
)

#总消费次数：有多少行
totalI=kpi1_Df.shape[0]

print('总消费次数=',totalI)

总消费次数= 5342

In [51]:
'''
计算月份数：时间范围
'''
#第1步：按销售时间升序排序
kpi1_Df=kpi1_Df.sort_values(by='销售时间',
                    ascending=True)
#重命名行名（index）
kpi1_Df=kpi1_Df.reset_index(drop=True)

In [52]:
kpi1_Df.head()

        销售时间           社保卡号    商品编码                商品名称  销售数量  应收金额  实收金额
0 2018-01-01      001616528  236701             强力VC银翘片   6.0  82.8  69.0
1 2018-01-01     0012697828  861464       复方利血平片(复方降压片)   4.0  10.0   9.4
2 2018-01-01  0010060654328  861458  复方利血平氨苯蝶啶片(北京降压0号)   1.0  10.3   9.2
3 2018-01-01     0011811728  861456      酒石酸美托洛尔片(倍他乐克)   1.0   7.0   6.3
4 2018-01-01     0013448228  861507       苯磺酸氨氯地平片(安内真)   1.0   9.5   8.5

In [54]:
#第2步：获取时间范围
#最小时间值
startTime=kpi1_Df.loc[0,'销售时间']
#最大时间值
endTime=kpi1_Df.loc[totalI-1,'销售时间']

#第3步：计算月份数
#天数
daysI=(endTime-startTime).days
#月份数: 运算符“//”表示取整除 
#返回商的整数部分，例如9//2 输出结果是4
monthsI=daysI//30
print('月份数：',monthsI)

月份数： 6

In [55]:
#业务指标1：月均消费次数=总消费次数 / 月份数
kpi1_I=totalI // monthsI
print('业务指标1：月均消费次数=',kpi1_I)

业务指标1：月均消费次数= 890

指标2：月均消费金额 = 总消费金额 / 月份数

In [56]:
#总消费金额
totalMoneyF=salesDf.loc[:,'实收金额'].sum()
#月均消费金额
monthMoneyF=totalMoneyF / monthsI
print('业务指标2：月均消费金额=',monthMoneyF)

业务指标2：月均消费金额= 50668.351666666305

指标3：客单价=总消费金额 / 总消费次数

客单价（per customer transaction）是指商场（超市）每一个顾客平均购买商品的金额，客单价也即是平均交易金额。

In [57]:
'''
totalMoneyF：总消费金额
totalI：总消费次数
'''
pct=totalMoneyF / totalI
print('客单价：',pct)

客单价： 56.9094178210404

指标4：消费趋势，画图：折线图

In [ ]:
'''
指标4的计算需要用到pandas的高级功能
pandas更多高级功能以及绘图等更多高级数据分析功能，在之后的课程《分组计算和数据可视化》中详细介绍
微信公众号：猴子聊人物，中回复“数据分析”加入社群系统学习数据分析，一起用知识改变命运，给家人带来题目的生活
'''

In [58]:
#在进行操作之前，先把数据复制到另一个数据框中，防止对之前清洗后的数据框造成影响
groupDf=salesDf
#第1步：重命名行名（index）为销售时间所在列的值
groupDf.index=groupDf['销售时间']
groupDf.head()

                 销售时间           社保卡号    商品编码          商品名称  销售数量   应收金额   实收金额
销售时间
2018-01-01 2018-01-01      001616528  236701       强力VC银翘片   6.0   82.8   69.0
2018-01-01 2018-01-01     0010616728  865099    硝苯地平片(心痛定)   2.0    3.4    3.0
2018-01-01 2018-01-01  0010073966328  861409  非洛地平缓释片(波依定)   5.0  162.5  145.0
2018-01-01 2018-01-01  0010073966328  866634   硝苯地平控释片(欣然)   6.0  111.0   92.5
2018-01-01 2018-01-01  0010014289328  866851   缬沙坦分散片(易达乐)   1.0   26.0   23.0

In [59]:
#第2步：分组
gb=groupDf.groupby(groupDf.index.month)

In [60]:
gb

In [61]:
#第3步：应用函数，计算每个月的消费总额
mounthDf=gb.sum()

In [62]:
mounthDf

        销售数量     应收金额      实收金额
销售时间
1     2527.0  53561.6  49461.19
2     1858.0  42028.8  38790.38
3     2225.0  45318.0  41597.51
4     3005.0  54296.3  48787.84
5     2225.0  51263.4  46925.27
6     2328.0  52300.8  48327.70
7     1483.0  32568.0  30120.22